body {
	background: #aaa;
	padding: 0;
	margin: 20px;
}

h1 {
	text-align: center;
}

form {
	text-align: center;
}

input[type=text] {
	width: 30%;
	background: black;
	color: green;
	font-family: monospace;
	font-weight: bold;
}

#field {
	background: black;
	color: green;
	width: 50%;
	margin: auto;
	padding: 2%;
	font-family: monospace;
	font-weight: bold;
}
